## vcovHC is not exported as an S3 method
## Have to import the full sandwich package
import(sandwich)

export(lags,
       first,
       last,
       rest,
       drop_first,
       drop_last,
       head.ts,
       tail.ts,
       head.mts,
       tail.mts,
       all.blocks,
       dates,
       make.trend,
       make.dates,
       tsobs,
       "year",
       "month",
       "month.dummy",
       "one.month",
       "one.quarter",
       pred_month,
       quarter.dummy,
       vec,
       forecast,
       stepwise.selection,
       white.correction,
       nw.correction,
       "nw.cov",
       trim.na,
       "%+%",
       "%+%.ts",
       "%+%.default",
       "%drop%",
       "%drop%.mts",
       "%after%",
       "%after%.numeric",
       "%select%",
       "%select%.mts",
       "%select%.ts",
       "arx.fcst",
       "listToVector",
       "getArimaForecast",
       "getVarForecast",
       "getVarForecasts",
       "var.fcst",
       "var.fcsts",
       "getVecForecasts",
       "getLowerInterval",
       "getUpperInterval",
	     "varForecasts",
       "reload.tstools",
       "meanreg",
       "tsreg",
       "firstDate",
       "lastDate",
       "previousDate",
       "dfToVector",
       "time.dummy",
       "ts.combine",
       "ts.check",
       "tsextend",
       "tsToList",
       "with.ts",
       "pctChange",
       "when.max",
       "when.min",
       "obs.max",
       "obs.min",
       "lags.direct",
       "fit.contemporaneous",
       "var.lrtest",
       "quarter",
       "yq",
       "toQuarterly",
       "readts",
       "thrlags",
       "delta.sum",
       "delta.cumsum",
       "se.sum",
       "se.cumsum",
       "levelfcst",
       "crosscor",
       "irf.ts",
       "tsinfo",
       "print.tsinfo",
       "armaCoef",
       "clearDate",
       "clearDates",
       "armafit",
       "arma.select",
       "repeat.row",
       "repeat.col",
       "demean",
       "collect",
       "collect.list",
       "wald.test",
       "wald",
       "testzero",
       "maErrors",
       "reverseIndex",
       "tsgen",
       "matPower",
       "%m+%",
       "%m-%",
       "%q+%",
       "%q-%",
       "oosForecasts",
       "formF",
       "import.fred",
       "trim.dates",
       "%~%",
       "%~%.ts",
       "zip",
       "draw.pair",
       "hstep",
       "graph.dates",
       "import.tsformat"
      )
S3method(vec, list)
S3method(forecast, dynlm)
S3method(BIC, Arima)
S3method(collect, list)
S3method("%~%", ts)
S3method(print, arimafit)
S3method(predict, hstep)
